//  _header.scss

// Home Page Header styles
.mainHeader {
   background: url(../assets/home-image-1.jpg) no-repeat;
   background-size: cover;
   height: 60vh;
   width: 100%;
   // position: relative;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   z-index: -10;
   .barOneText {
      z-index: 5;
      h1, p {
         margin: 0;
         margin-bottom: 35px;
      }
   }
   .headerimg {
      position: absolute;
      right: 0;
      top: 200px;
      z-index: 1;
      width: 45%;
   }
}