//  _header.scss

// Home Page Header styles
.mainHeader {
   background: url(../assets/home-image-1.jpg) no-repeat;
   background-size: cover;
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   z-index: -10;
   .barOneText {
      z-index: 5;
      h1, p {
         margin: 0;
         margin-bottom: 35px;
      }
   }
   .headerimg {
      position: relative;
      width: 50%;
      object-fit: cover;
      img {
         position: absolute;
         right: -360px;
         top: -400px;
         z-index: 1;
         min-height: 200px;
      }
   }
}

// Blog Page Header styles
.blogNavBar {
   background-image: url(../assets/blog-header-1.jpg);
   background-size: cover;
   height: 70vh;
   width: 100%;
   h3 {
      padding-top: 25vh;
      text-transform: none;

   }
}

// Contact Header styles
.contactNavBar {
   background-image: url(../assets/contact-header-1.jpg);
   background-size: cover;
   height: 70vh;
   width: 100%;

   h3 {
      padding-top: 25vh;
      text-transform: none;
   }
}