// _homeMain.scss

//About Section styles
.about {
   padding-top: 150px;
   padding-bottom: 120px;
   ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
         width: calc((95%/2) - 50px);
         .aboutCard {
            display: flex;
            span {
               width: 25%;
               i {
                  color: white;
                  z-index: 5;
               }
               .fa-circle {
                  color: $red;
               }
            }
            .aboutCardRight {
               width: 75%;
               h2 {
                  margin: 0;
               }
               p {
                  margin-top: 10px;
               }
            }
         }
      }
   }
}


// Grid section styles

.grid {
   background-color: $darkRed;
   padding-bottom: 50px;
   p {
      margin-top: 10px;
   }
   h2 {
      margin: 0;
      margin-top: 50px;
   }
   .planAhead, .newLocations {
      display: flex;
      .gridContent {
         width: 50%;
      }
      .leftImg {
         img {
            position: relative;
            left: -95px;
            top: -50px;
            box-shadow: 10px 10px $orange;
         }
      }
      .rightImg {
         img {
            position: relative;
            right: -100px;
            bottom: -85px;
            box-shadow: -10px 10px $orange;
         }
      }
   }
}

.planAhead {
   .gridContent {
      margin-left: 50px;
   }
}

.newLocations {
   .gridContent {
      padding-right: 65px;
      text-align: right;
      p {
         text-align: left;
      }
   }
}


// Host a Party styles

.hostAParty {
   text-align: center;
   margin-top: 140px;
   margin-bottom: 100px;
   h2 {
      color: $orange;
   }
}

// Banner style
.banner img {
   width: 100%;
}

// Event Content styles

.events {
   display: flex;
   margin-top: 100px;
   margin-bottom: 100px;
   img {
      max-width: 300px;
      max-height: 300px;
      box-shadow: -10px 10px $orange;
   }
   .eventContent {
      width: 75%;
      margin-left: 80px;
      h2 {
         margin: 0;
         color: $orange;
      }
   }
}

// Gallery styles
.gallery {
   padding-top: 100px;
   padding-bottom: 100px;
   background-color: $darkRed;
   ul {
      display: flex;
      justify-content: space-between;
   }
   li {
      flex-basis: 32%;
   }
}

// ===== Media Queries ====
@media (max-width: 960px) {
   main {
      h2 {
         font-size: 3rem;
      }
      p {
         font-size: 1.5rem;
      }
   }
   .barOneText {
      height: 60%;
      h1 {
      font-size: 10rem;
      }
      p {
         line-height: 70px;
      }
   }

   .mainHeader .headerimg {
      position: absolute;
      right: 360px;
      top: 875px;
      z-index: 1;
      width: 500px;
      max-width: 50%;
      object-fit: cover;
   }

   .about {
      padding-top: 30px;
      ul {
         display: flex;
         flex-direction: column;
         align-items: center;
         li {
            width: 100%;
         }
      }
   }
   .hostAParty {
      margin-top: 85px;
   }
}


@media (max-width: 810px) {

   .planAhead,
   .newLocations {
      flex-direction: column;
   }
   .newLocations .gridContent {
      order: 10;
      margin-top: 110px;
   }

   .hostAParty {
      margin-top: 0;
   }

   .events {
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
      margin-left: 0;
      text-align: center;
      .eventContent 
         h2 {
         margin-top: 50px;
      }
   }


   .grid {
      .planAhead,
      .newLocations {
         display: flex;
   
         .gridContent {
            width: 100%;
            text-align: center;
         }
   
         .leftImg {
            img {
               position: relative;
               left: -95px;
               top: -50px;
               box-shadow: 10px 10px $orange;
            }
         }
   
         .rightImg {
            img {
               position: relative;
               right: -100px;
               bottom: -85px;
               box-shadow: -10px 10px $orange;
            }
         }
      }
   }
   
   .planAhead {
      .gridContent {
         margin-left: 0px;
         text-align: center;
      }
   }
   
   .newLocations {
      .gridContent {
         padding-right: 0px;
         text-align: center;
   
         p {
            text-align: center;
         }
      }
   }


   .gallery {
      flex-wrap: wrap;
   }
}


@media (max-width: 550px) {

   .mainHeader .headerimg img {
      display: none;
      
   .gallery {
      padding-top: 10px;
      padding-bottom: 30px;
   }
   .gallery ul {
      flex-direction: column;
      align-items: center;
      li {
         margin: 10px;
      }
   }
}

@media (max-width: 450px) {
   .barOneText h1 {
         font-size: 8rem;
      }
   main {
      h2 {
         font-size: 2.2rem;
      }

      p {
         font-size: 1.3rem;
      }
   }

   .aboutCard {
      .fa-stack {
         font-size: 1.25rem;
      }
   }

   .gallery ul {
      flex-direction: column;
      margin: 20px;
   }

   .grid .planAhead .leftImg {
      img {
         position: relative;
         left: -5px;
         top: -50px;
         box-shadow: 10px 10px $orange;
      }
   }

   .grid .newLocations .rightImg {
      img {
         position: relative;
         right: -5px;
         bottom: -85px;
         box-shadow: -10px 10px $orange;
      }

   footer p {
      font-size: 1.4rem;
   }
}
}
}