// _homeMain.scss

//About Section styles
.about {
   padding-top: 150px;
   padding-bottom: 120px;
   ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
         width: calc((95%/2) - 50px);
         margin-left: 50px;
         position: relative;
         span { font-size: inherit;
         color: $red; }
         i {
            vertical-align: middle;
            position: absolute;
            top: 65px;
            left: -60px;
            color: white;
            z-index: 5;
         }
      }
   }
}


// Grid section styles

.grid {
   background-color: $darkRed;
   padding-bottom: 50px;
   .planAhead, .newLocations {
      display: flex;
      .gridContent {
         width: 50%;
      }
      .leftImg {
         img {
            position: relative;
            left: -95px;
            top: -50px;
            box-shadow: 10px 10px $orange;
         }
      }
      .rightImg {
         img {
            position: relative;
            right: -95px;
            bottom: -140px;
            box-shadow: -10px 10px $orange;
         }
      }
   }
}

.planAhead {
   .gridContent {
      margin-left: 50px;
   }
}

.newLocations {
   .gridContent {
      padding-right: 65px;
      text-align: right;
      p {
         text-align: left;
      }
   }
}


// Host a Party styles

.hostAParty {
   text-align: center;
   margin-top: 100px;
   margin-bottom: 100px;
   h2 {
      color: $orange;
   }
}

// Banner style
.banner img {
   width: 100%;
}

// Event Content styles

.events {
   display: flex;
   margin-top: 100px;
   margin-bottom: 100px;
   img {
      max-width: 300px;
      max-height: 300px;
      box-shadow: -10px 10px $orange;
   }
   .eventContent {
      width: 75%;
      margin-left: 80px;
   }
}

// Gallery styles
.gallery {
   padding-top: 100px;
   padding-bottom: 100px;
   background-color: $darkRed;
   ul {
      display: flex;
      justify-content: space-between;
   }
   li {
      flex-basis: 32%;
   }
}