// _nav.scss
nav {
   ul {
      display: flex;
      justify-content: center;
      padding-top: 20px;
   }
   .barOneNavLogo {
      font-family: $titleFont;
      font-size: 2.75rem;
      font-weight: 300;
      text-transform: none;
   }
}

.slidingMenu,
.blogSlidingMenu,
.contactSlidingMenu {
   display: none;
}

.navBar, .blogMainMenu, .contactMainMenu {
   position: fixed;
   top: 0;
   width: 100%;
   background-color: $primary;
   z-index: 20;
}

.slidingMenuButton {
   display: none;
}

// === Media Query for Hamburger Sliding Menu 
// Inspiration: https: //github.com/HackerYou/con-ed-web-dev/tree/main/module-14/slide-out-navigation //
@media (max-width: 770px) {
   .navBar .mainMenu,
   .blogNavBar .blogMainMenu,
   .contactNavBar .contactMainMenu {
      display: none;
   }

   .navBar .slidingMenuButton,
   .blogNavBar .slidingMenuButton,
   .contactNavBar .slidingMenuButton {
      display: block;
      position: fixed;
      top: 20px;
      right: 0;
      background-color: $primary;
   }

   .slidingMenu, 
   .blogSlidingMenu,
   .contactSlidingMenu {
      background-color: $primary;
      position: fixed;
      z-index: 10;
      width: 30%;
      right: -30%;
      top: 55px;
      transition: all 0.5s;
      display: block;
   }
   
   ul.slidingMenu a,
   ul.blogSlidingMenu a,
   ul.contactSlidingMenu a {
      border-bottom: 2px solid $orange;
      display: inline-block;
      font-size: 1.5rem;
      width: 100%;
      padding: 15px;
      transition: all 0.3s;
   }

   .reveal-active {
         right: 0%;
         display: block;
   }
}
