// _typography.scss

html {
   font-size: 125%;
}

body {
   font-family: $bodyFont;
   font-size: 1.95rem;
   letter-spacing: 1.9px;
   line-height: 58px;
   color: white;
}

h1 {
   font-family: $titleFont;
   font-size: 13rem;
   letter-spacing: 2.4px;
   color: $orange;
}

header p {
   font-size: 4.16rem;
   font-weight: 700;
   line-height: 94.7px;
   letter-spacing: 2.6px;
}

h2 {
   font-size: 3.2rem;
   font-weight: 700;
   letter-spacing: 2.2px;
   line-height: 58px;
}

h3 {
   font-size: 4.10rem;
   color: white;
}

p {
   font-size: 1.7rem;
   letter-spacing: 1.9px;
   line-height: 30px;
}

nav {
   font-size: 1.9rem;
   font-weight: 700;
   line-height: 29px;
   letter-spacing: 1.9px;
   text-transform: uppercase;
   a {
      display: inline-block;
      padding: 20px 40px;
      text-decoration: none;
      cursor: pointer;
      transition: 0.3s;
      color: white;
   
         &:hover,
         &:focus {
            color: $orange;
         }
   }
}

ul,
li,
a,
input {
   padding: 0;
   margin: 0;
}

ul {
   list-style: none;
}

