html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Chathura";
  font-size: 1.95rem;
  letter-spacing: 1.9px;
  line-height: 58px;
  color: white;
}

h1 {
  font-family: "Tulpen One";
  font-size: 13rem;
  letter-spacing: 2.4px;
  color: #ff8327;
}

header p {
  font-size: 4.16rem;
  font-weight: 700;
  line-height: 94.7px;
  letter-spacing: 2.6px;
}

h2 {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 2.2px;
  line-height: 58px;
}

h3 {
  font-size: 4.1rem;
  color: white;
}

p {
  font-size: 1.7rem;
  letter-spacing: 1.9px;
  line-height: 30px;
}

nav {
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1.9px;
  text-transform: uppercase;
}
nav a {
  display: inline-block;
  padding: 20px 40px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
}
nav a:hover, nav a:focus {
  color: #ff8327;
}

ul,
li,
a,
input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

.blogWrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

body {
  background-color: #111010;
}

button {
  font-family: "Tulpen One";
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding: 5px 35px;
  color: white;
  background-color: #bf2603;
  border: none;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover, button:focus {
  background-color: #220303;
}

img {
  display: block;
  max-width: 100%;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

footer p {
  text-align: center;
  background-color: rgb(53, 52, 52);
  padding: 10px 0;
  margin: 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}
nav .barOneNavLogo {
  font-family: "Tulpen One";
  font-size: 2.75rem;
  font-weight: 300;
  text-transform: none;
}
nav .slidingMenu,
nav .blogSlidingMenu,
nav .contactSlidingMenu {
  display: none;
}
nav input[type=checkbox] {
  display: none;
}

.navBar, .blogMainMenu, .contactMainMenu {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: #111010;
  z-index: 20;
}

label .fa-bars {
  display: none;
}

@media (max-width: 770px) {
  .navBar .mainMenu,
.blogNavBar .blogMainMenu,
.contactNavBar .contactMainMenu {
    display: none;
  }

  .navBar label .fa-bars,
.blogNavBar label .fa-bars,
.contactNavBar label .fa-bars {
    display: block;
  }

  .navBar ul.slidingMenu,
.blogNavBar ul.blogSlidingMenu,
.contactNavBar ul.contactSlidingMenu {
    background-color: #111010;
    position: fixed;
    z-index: 10;
    width: 30%;
    right: -30%;
    top: 55px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    display: block;
  }

  ul.slidingMenu a,
ul.blogSlidingMenu a,
ul.contactSlidingMenu a {
    border-bottom: 2px solid #ff8327;
    display: inline-block;
    font-size: 1.5rem;
    width: 100%;
    padding: 15px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  input[type=checkbox]:checked + ul.slidingMenu,
input[type=checkbox]:checked + ul.blogSlidingMenu,
input[type=checkbox]:checked + ul.contactSlidingMenu {
    right: 0;
    display: block;
  }

  .navBar label[for=toggle],
.blogNavBar label[for=toggle],
.contactNavBar label[for=toggle] {
    position: fixed;
    top: 10px;
    right: 10px;
    color: white;
    z-index: 10;
    font-size: 40px;
  }
}
.mainHeader {
  background: url(../assets/home-image-1.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -10;
}
.mainHeader .barOneText {
  z-index: 5;
}
.mainHeader .barOneText h1, .mainHeader .barOneText p {
  margin: 0;
  margin-bottom: 35px;
}
.mainHeader .headerimg {
  position: relative;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainHeader .headerimg img {
  position: absolute;
  right: -360px;
  top: -400px;
  z-index: 1;
  min-height: 200px;
}

.blogNavBar {
  background-image: url(../assets/blog-header-1.jpg);
  background-size: cover;
  height: 60vh;
  width: 100%;
}
.blogNavBar h3 {
  padding-top: 25vh;
  text-transform: none;
}

.contactNavBar {
  background-image: url(../assets/contact-header-1.jpg);
  background-size: cover;
  height: 60vh;
  width: 100%;
}
.contactNavBar h3 {
  padding-top: 25vh;
  text-transform: none;
}

.about {
  padding-top: 150px;
  padding-bottom: 120px;
}
.about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about ul li {
  width: calc(47.5% - 50px);
}
.about ul li .aboutCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about ul li .aboutCard span {
  width: 25%;
}
.about ul li .aboutCard span i {
  color: white;
  z-index: 5;
}
.about ul li .aboutCard span .fa-circle {
  color: #bf2603;
}
.about ul li .aboutCard .aboutCardRight {
  width: 75%;
}
.about ul li .aboutCard .aboutCardRight h2 {
  margin: 0;
}
.about ul li .aboutCard .aboutCardRight p {
  margin-top: 10px;
}

.grid {
  background-color: #220303;
  padding-bottom: 50px;
}
.grid p {
  margin-top: 10px;
}
.grid h2 {
  margin: 0;
  margin-top: 50px;
}
.grid .planAhead, .grid .newLocations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.grid .planAhead .gridContent, .grid .newLocations .gridContent {
  width: 50%;
}
.grid .planAhead .leftImg img, .grid .newLocations .leftImg img {
  position: relative;
  left: -95px;
  top: -50px;
  -webkit-box-shadow: 10px 10px #ff8327;
          box-shadow: 10px 10px #ff8327;
}
.grid .planAhead .rightImg img, .grid .newLocations .rightImg img {
  position: relative;
  right: -100px;
  bottom: -85px;
  -webkit-box-shadow: -10px 10px #ff8327;
          box-shadow: -10px 10px #ff8327;
}

.planAhead .gridContent {
  margin-left: 50px;
}

.newLocations .gridContent {
  padding-right: 65px;
  text-align: right;
}
.newLocations .gridContent p {
  text-align: left;
}

.hostAParty {
  text-align: center;
  margin-top: 140px;
  margin-bottom: 100px;
}
.hostAParty h2 {
  color: #ff8327;
}

.banner img {
  width: 100%;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}
.events img {
  max-width: 300px;
  max-height: 300px;
  -webkit-box-shadow: -10px 10px #ff8327;
          box-shadow: -10px 10px #ff8327;
}
.events .eventContent {
  width: 75%;
  margin-left: 80px;
}
.events .eventContent h2 {
  margin: 0;
  color: #ff8327;
}

.gallery {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #220303;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery li {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}

@media (max-width: 960px) {
  main h2 {
    font-size: 3rem;
  }
  main p {
    font-size: 1.5rem;
  }

  .barOneText {
    height: 60%;
  }
  .barOneText h1 {
    font-size: 10rem;
  }
  .barOneText p {
    line-height: 70px;
  }

  .mainHeader .headerimg {
    position: absolute;
    right: 360px;
    top: 875px;
    z-index: 1;
    width: 500px;
    max-width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .about {
    padding-top: 30px;
  }
  .about ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about ul li {
    width: 100%;
  }

  .hostAParty {
    margin-top: 85px;
  }
}
@media (max-width: 810px) {
  .planAhead,
.newLocations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .newLocations .gridContent {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
    margin-top: 110px;
  }

  .hostAParty {
    margin-top: 0;
  }

  .events {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
    margin-left: 0;
    text-align: center;
  }
  .events .eventContent h2 {
    margin-top: 50px;
  }

  .grid .planAhead,
.grid .newLocations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .grid .planAhead .gridContent,
.grid .newLocations .gridContent {
    width: 100%;
    text-align: center;
  }
  .grid .planAhead .leftImg img,
.grid .newLocations .leftImg img {
    position: relative;
    left: -95px;
    top: -50px;
    -webkit-box-shadow: 10px 10px #ff8327;
            box-shadow: 10px 10px #ff8327;
  }
  .grid .planAhead .rightImg img,
.grid .newLocations .rightImg img {
    position: relative;
    right: -100px;
    bottom: -85px;
    -webkit-box-shadow: -10px 10px #ff8327;
            box-shadow: -10px 10px #ff8327;
  }

  .planAhead .gridContent {
    margin-left: 0px;
    text-align: center;
  }

  .newLocations .gridContent {
    padding-right: 0px;
    text-align: center;
  }
  .newLocations .gridContent p {
    text-align: center;
  }

  .gallery {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 550px) {
  .mainHeader .headerimg img {
    display: none;
  }
  .mainHeader .headerimg img .gallery {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .mainHeader .headerimg img .gallery ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainHeader .headerimg img .gallery ul li {
    margin: 10px;
  }
}
@media (max-width: 550px) and (max-width: 450px) {
  .barOneText h1 {
    font-size: 8rem;
  }

  main h2 {
    font-size: 2.2rem;
  }
  main p {
    font-size: 1.3rem;
  }

  .aboutCard .fa-stack {
    font-size: 1.25rem;
  }

  .gallery ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px;
  }

  .grid .planAhead .leftImg img {
    position: relative;
    left: -5px;
    top: -50px;
    -webkit-box-shadow: 10px 10px #ff8327;
            box-shadow: 10px 10px #ff8327;
  }

  .grid .newLocations .rightImg img {
    position: relative;
    right: -5px;
    bottom: -85px;
    -webkit-box-shadow: -10px 10px #ff8327;
            box-shadow: -10px 10px #ff8327;
  }
  .grid .newLocations .rightImg footer p {
    font-size: 1.4rem;
  }
}
.blogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogContainer .mission {
  width: 35%;
  min-width: 300px;
  position: relative;
  margin-right: 95px;
}
.blogContainer .mission h2 {
  margin-bottom: 0;
  margin-top: 0;
  padding: 30px;
  padding-bottom: 0;
}
.blogContainer .mission p {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0 30px 0 30px;
}
.blogContainer .mission .missionImg {
  width: auto;
  position: absolute;
  left: -65px;
  top: 30px;
}
.blogContainer .mission .missionContainer {
  background-color: #220303;
  padding: 0 10px 20px 10px;
  padding-top: 335px;
  margin-top: 50px;
}
.blogContainer .mission a {
  color: #ff8327;
  text-decoration: none;
  margin-top: 0;
  padding: 30px;
}
.blogContainer .mission ul {
  list-style-position: inside;
  line-height: 30px;
  font-size: 1.9rem;
  padding: 10px;
}
.blogContainer .mission ul li::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: #bf2603;
  border-radius: 50%;
  margin: 0.25em 0.5em 0;
  float: left;
}
.blogContainer .blogContent {
  width: 65%;
  position: relative;
}
.blogContainer .blogContent .blogImg {
  position: absolute;
  top: -125px;
  left: 15px;
  width: 900px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: -15px 15px #ff8327;
          box-shadow: -15px 15px #ff8327;
}
.blogContainer .blogContent .blogWords {
  border-left: 5px solid #ff8327;
  border-bottom: 5px solid #ff8327;
  margin-top: 253px;
}
.blogContainer .blogContent .blogWords .menuContainer {
  padding: 80px 10px 50px 80px;
}
.blogContainer .blogContent .blogWords .menuContainer h3 {
  margin: 75px 0 0 0;
}
.blogContainer .blogContent .blogWords .menuContainer .menuDate {
  color: #ff8327;
  margin-top: 5px;
}

.commentContainer .commentCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.commentContainer h3 {
  margin: 50px 0 35px 25px;
}
.commentContainer .commentContent {
  width: 75%;
}
.commentContainer .commentContent h4 {
  font-size: 2rem;
  color: #ff8327;
  margin-top: -20px;
  margin-bottom: -35px;
}
.commentContainer .commentContent p {
  font-size: 1.8rem;
  margin-bottom: 88px;
}

.commentFormContainer .nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.commentFormContainer input,
.commentFormContainer textarea {
  color: white;
  background-color: #111010;
  font-family: "Chathura";
  width: 100%;
}
.commentFormContainer input[type=text],
.commentFormContainer input[type=email] {
  height: 30px;
}
.commentFormContainer input {
  border: none;
  border-bottom: 1px solid #ff8327;
  margin-bottom: 45px;
  width: 95%;
}
.commentFormContainer textarea {
  border: 1px solid #ff8327;
  resize: none;
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
  padding: 20px;
}
.commentFormContainer button {
  width: 100%;
  margin-bottom: 100px;
}

@media (max-width: 810px) {
  .blogNavBar {
    height: 40vh;
  }

  .blogContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogContainer .mission {
    width: 100%;
  }
  .blogContainer .mission .missionImg {
    width: 375px;
  }
  .blogContainer .mission ul {
    font-size: 1.5rem;
  }

  .blogContent .blogWords .blogImg {
    top: 0;
    left: 170px;
    width: 550px;
  }

  .blogContainer .blogContent {
    width: 100%;
  }

  .commentContainer .commentContent p {
    font-size: 1.5rem;
  }
}
@media (max-width: 550px) {
  .blogContent .blogWords .blogImg {
    top: 0;
    left: 0;
  }

  .blogContainer .blogContent .blogWords .menuContainer {
    padding: 30px 10px 10px 20px;
  }
  .blogContainer .blogContent .blogWords .menuContainer h3 {
    margin-top: 75px;
  }

  .commentFormContainer .nameEmail {
    display: block;
  }

  .commentCard .peopleImg {
    margin-right: 15px;
  }
}
@media (max-width: 400px) {
  .blogContainer .blogContent .blogWords .menuContainer h3 {
    margin-top: 0;
  }

  .blogContainer .mission .missionContainer {
    padding-top: 290px;
  }
}
.contactSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 50px 0;
}
.contactSection .socialMedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactSection .socialMedia ul li {
  margin: 10px;
}
.contactSection .contactContent .emailInfo {
  margin-bottom: 30px;
}
.contactSection .contactContent p {
  margin: 5px;
}

.messageFormContainer {
  background-color: #220303;
  position: relative;
}
.messageFormContainer .contactCard {
  -webkit-box-shadow: 10px 10px #ff8327;
          box-shadow: 10px 10px #ff8327;
  position: absolute;
  background-color: #220303;
  width: 70%;
  right: -40px;
  top: -530px;
  padding: 60px;
}
.messageFormContainer .contactCard .nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.messageFormContainer .contactCard input,
.messageFormContainer .contactCard textarea {
  color: white;
  background-color: #220303;
  font-family: "Chathura";
  width: 100%;
}
.messageFormContainer .contactCard input[type=text],
.messageFormContainer .contactCard input[type=email] {
  height: 30px;
}
.messageFormContainer .contactCard input {
  border: none;
  border-bottom: 1px solid white;
  margin-bottom: 45px;
  width: 95%;
}
.messageFormContainer .contactCard textarea {
  border: 1px solid white;
  resize: none;
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
  padding: 20px;
}
.messageFormContainer .contactCard button {
  width: 100%;
}

.contactFooter {
  margin-top: 300px;
}

@media (max-width: 900px) {
  .messageFormContainer .contactCard {
    position: initial;
    width: 100%;
  }
}
@media (max-width: 810px) {
  .contactNavBar {
    height: 40vh;
  }
}
@media (max-width: 600px) {
  .messageFormContainer .contactCard .nameEmail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .messageFormContainer .contactCard {
    padding: 15px;
  }
}